# Entornos Virtuales
.venv/
venv/
env/

# Archivos de Python generados
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
*.sqlite3
db.sqlite3

# Archivos de configuración y secretos (¡Muy importante!)
.env
.env.*
!.env.example

# Configuraciones de editores
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de Logs
*.log

# Archivos de Tests y Cobertura
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Caché de migraciones
**/migrations/__pycache__/
**/migrations/*.pyc

# Archivos de empaquetado de Python
*.egg-info/
dist/
build/
*.egg

# Caché general
.cache/

# Carpeta generada por el comando `collectstatic`. NUNCA debe estar en el repo.
staticfiles/

media/*

!media/Catagram_logo.png
!media/login_image.png

!media/.gitkeep
