<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Catagram
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>

    <div class="login-container">
        <img class="login-image" src="/media/Login_image.png" alt="Login photo">
        <div>
            <h1>Catagram imagen logo</h1>
            <form class="form-with-validation" method="post">
                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% else %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <button class="form-submit" >Entrar</button>
            </form>
            <div>
                <p>O</p>
                <a>Inicia sesión con Catnip</a>
                <p>¿Haz olvidado tu zona marcada?</p>
                <p>¿No tienes una zona? <a href="#">Márcala</a></p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <a href="#">Cats</a>
        <a href="#">Información</a>
        <a href="#">API</a>
        <a href="#">Privacidad</a>
        <a href="#">Condiciones</a>
        <a href="#">Catagram Lite Pronto</a>
        <a href="#">Cat Verified</a>
        <p></p>
        <a>Gato(Gatolandia)</a>
        <a>&copy; 2025 Catagram from Cat</a>
    </footer>

</body>
</html>